.clubs-view {
    height: 100%;
    h1 {
        font-size: 24pt;
        margin: 1em 0 0.25em 0;
        background-color: inherit;
    }
    hr {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .tile {
        margin-bottom: 5vh;

        h2 {
            margin: 0;
            margin-bottom: 0.25em;
        }

        p {
            margin: 0;
        }

        .socials {
            margin-top: 0.5em;
            font-size: 14pt;
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            
            a::after, a::before {
                content: none;
            }
        }
    }
}