nav#navbar {
    position: sticky;
    top: 0;
    display: flex;
    width: auto;
    height: 60px; 
    justify-content: space-between;
    /*gap: 2vw;*/
    align-items: stretch;
    padding: 0 3vw;
    background-color: var(--tertiary);
    transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    #responsive-dropdown-btn {
        display: none;
        justify-content: center;
        align-items: center;
    }

    &.navbar-dark {
        background-color: var(--primary);

        ul {
            li:hover {
                background-color: #ffffff21;
            }

            li {
                color: var(--secondary-light);
            }
        }

    }
    
    ul {
        flex-shrink: 3;
        width: 90%;
        margin: 0;
        padding: 0;
        
        li {
            padding: 0 0;
            height: 100%;
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: stretch;
            cursor: pointer;
            font-weight: 500;
            font-size: 14pt;
            color: var(--primary);
            font-family: 'Red Hat Text', 'Roboto', Helvetica, sans-serif;

            a {
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                color: inherit;
                padding: 0 1vw;
                text-decoration: none;
                height: 100%;
                display: inline-flex;
                align-items: center;
            }
        }

        li:hover {
            background-color: #00000021;
        }
    }

    button {
        background: none;
        border: none;
        height: 100%;
        width: fit-content;
        cursor: pointer;
    }

    .icon {
        flex-shrink: 3;
        height: 100%;
        padding: 1em;
        width: auto;
    }

    button:hover {
        svg {
            filter: brightness(var(--hover-brightness));
        }
    }

    .dropdown {
        position:static;
        float: left;
        overflow: hidden;
        font-size: inherit;
        background-color: inherit;
        font-family: inherit;
        font-weight: inherit;
    
        .dropbtn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: inherit;
            font-weight: inherit;
            font-family: inherit;
            border: none;
            outline: none;
            color: inherit;
            padding: 0 1vw;
            margin: 0;
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ddd;
            color: var(--primary-alternate);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 200;
            * {
                font-size: 12pt;
                float: none;
                padding: 0.5em 0.75em;
                color: #111; 
                text-decoration: none;
                display: block;
                text-align: left;
            }

            *:hover {
                background-color: #00000021;
            }

            .dropdown .dropdown-content {
                left: 100%;
                position: absolute;
                top: 0;
            }
        }
        &:hover .dropdown-content {
            display: block;
        }
    }
}

.logo-link {
    height: inherit;
    width: max-content;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
}

#logo-parent {
    flex-shrink: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    height: inherit;

    .logo {
        padding: 0.5vw 2vw;
        top: 0;
        height: 100%;
        user-select: none;
        -webkit-user-select: none;
        transition: transform 0.5s ease-out;
        transform: rotateX(0deg);
        text-decoration: none;

        &.flipped {
            transform: rotateX(90deg);
            transition: transform 0s;
        }
    }

    .logo + .logo {
        position: absolute;
    }
}

#moon {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    color: var(--primary);
}

#sun {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    color: var(--accent);
}

#moon:hover, #sun:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    nav#navbar {
        width: 100%;
        justify-content: center;
        padding: 0 1%;
        height: 50px;

        .logo-link {
            width: 80vw;
            flex-grow: 3;
            flex-shrink: 1;
            display: flex;
            justify-content: center;

            
            #logo-parent {
                justify-content: center;
                padding: 0;
            }
        }

        #responsive-dropdown-btn {
            display: flex;
            color: var(--secondary);
        }

        .navbar-dropdown {
            z-index: 9999;
            display: flex;
            flex-flow: column nowrap;
            background-color: #ddd;
            max-height: 0;
            left: 0;
            width: 100%;
            top: 50px;
            overflow: hidden;
            position: absolute;
            transition: max-height 0.5s ease-out;

            li {
                justify-content: flex-start;

                a, .dropbtn {
                    width: 100%;
                    padding: 0.5em;
                }
            }

            .dropdown, .dropbtn {
                width: 100%;
            }

            .dropbtn {
                display: block;
                float: none;
                text-align: left;
                height: auto;
            }

            .dropdown-content {
                position: static;
                width: 100%;
                background-color: #ccc;
            }
        }

        .responsive {
            max-height: 40vh;
            transition: max-height 0.5s ease-in;
        }

        &.navbar-dark {
            .navbar-dropdown {
                background-color: var(--lavender);
            }

            #responsive-dropdown-btn {
                color: var(--secondary-light);
            }
        }

        .button {
            width: 10vw;
            position: absolute;
            height: 100%;
            padding: 0.5em 0;

            #sun, #moon {
                height: 100%;
                width: auto;
            }
        }
    }
}

